* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Overpass", sans-serif;
  background-color: #121417;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

.container .card {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#1f262e), to(#1b1e22));
  background: linear-gradient(180deg, #1f262e, #1b1e22);
  width: 80%;
  height: 300px;
  max-width: 290px;
  border-radius: 1rem;
  padding: 2rem;
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container .card .home {
  display: block;
}

.container .card .home .logo {
  padding: 1.5rem;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  position: absolute;
  border-radius: 50%;
  border: none;
  background-color: #29323d;
  top: 1rem;
  left: 1rem;
}

.container .card .home .headling {
  color: white;
  text-align: start;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  margin-top: 5rem;
}

.container .card .home .paragraph {
  margin-top: 1.5rem;
  text-align: start;
  color: #7c8798;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.container .card .home .select-button ul {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.container .card .home .select-button ul li button {
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  border-radius: 50%;
  border: none;
  padding: 1rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  font-weight: bold;
  color: #7c8798;
  background-color: #29323d;
}

.container .card .home .select-button ul li button:hover {
  background-color: #fb7413;
  color: white;
}

.container .card .home .select-button ul li button:focus {
  background-color: #959eac;
  color: white;
}

.container .card .home .button {
  margin-top: 1rem;
}

.container .card .home .button button {
  background-color: #fb7413;
  text-align: center;
  margin-top: 1rem;
  color: white;
  padding: 1rem;
  border: none;
  width: 100%;
  font-size: larger;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  border-radius: 2rem;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.container .card .home .button button:hover {
  background-color: white;
  color: #fb7413;
}

@media screen and (min-width: 375px) {
  .container .card {
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
}

.container .card .card-back {
  display: none;
}

.container .card .card-back .thank-you-image {
  -webkit-transform: translateX(3rem) scale(0.8);
          transform: translateX(3rem) scale(0.8);
  margin-bottom: 1rem;
}

.container .card .card-back .scores {
  color: #fb7413;
  text-align: center;
  max-width: 140px;
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
  padding: .5rem;
  font-size: 1.2rem;
  border-radius: 2rem;
  background-color: #29323d;
  margin-bottom: 2rem;
}

.container .card .card-back .thanks {
  color: white;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
  text-align: center;
}

.container .card .card-back .paragraph {
  color: #7c8798;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.container .card .error {
  text-align: center;
  margin-top: 10rem;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-family: cursive;
  display: none;
  color: white;
}
/*# sourceMappingURL=style.css.map */